<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="iTunes.SMTC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <iTunes.SMTC.Properties.Settings>
            <setting name="ShowTrackToast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableCrashReporting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableiTunesController" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableAMPreviewController" serializeAs="String">
                <value>False</value>
            </setting>
        </iTunes.SMTC.Properties.Settings>
    </userSettings>
</configuration>